section {
  margin-block: var(--spacing-2xl);
}

.home__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: var(--spacing-1xl);
  position: relative;
  padding-bottom: var(--spacing-2xl);

  .home__text-carousel{
    font-size: clamp(2.5rem, 13vw, 6rem);
    margin-bottom: var(--spacing-xl);
    line-height: 0.9;
  }

  .home__title-text-top {
    text-shadow: var(--text-glow-mild);
    font-size: clamp(2.5rem, 13vw, 6rem);
    font-family: var(--font-family-heading);
    line-height: 0.9;
  }

  .home__title-text-bottom {
    font-weight: var(--font-weight-semibold);
  }
}

.home__plans {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: var(--spacing-lg);
  }
}

.plan {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;

  .plan__mini-name {
    margin: 0;
    color: var(--color-text-secondary);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .plan__name {
    margin: 0;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-light);
    text-shadow: var(--text-glow-light);
    font-style: italic;
  }

  .plan__price {
    margin: 0;
    color: var(--color-text-primary);
  }

  .plan__description {
    margin: 0;
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    margin-bottom: var(--spacing-2xl);
  }

  .plan__button {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: var(--font-weight-normal);
  }
}

.home__features {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .feature-panel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    flex: 1;
    @media (max-width: 992px) {
      gap: var(--spacing-sm);
      padding: var(--spacing-lg);
    }

    &__header {
      display: flex;
      gap: var(--spacing-md);

    }

    .feature-panel__icon {
      color: var(--color-text-primary);
      font-size: var(--font-size-2xl);
      filter: drop-shadow(var(--text-glow-subtle));
    }

    .feature-panel__name{
      font-weight: var(--font-weight-semibold);
    }
  }
}
